app='bs://c700ce60cf13ae8ed97705a55b8e022f13c5827c'
remote_url='hub-cloud.browserstack.com/wd/hub'
usrName='dinin_jlw6Jx'
accessKey='YjvbW8KSF3wBHdxP2R1C'
projectName='First Python project'
buildName='browserstack-build-1'
sessionName='BStack first_test'
browserStackUrl='hub-cloud.browserstack.com/wd/hub'
browserStackApi='https://api.browserstack.com/app-automate/sessions/'
